.post {
    border-bottom: 2px solid $off-white;
    h2 {
        padding: 0px;
        margin:0px;
    }
}

.time {
    font-size: $font-size-small;
    color: $dark-grey;
    margin: 0;
    font-weight: 300;
}

.author {
    margin: 0;
    font-weight: 300;
    color: $grey;
}

a {
    text-decoration: none;
}